// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2024 Yangyu Chen <cyy@cyyself.name>
 */

#include "k230.dtsi"
#include "display-st7701-480x800.dtsi"

/ {
	model = "Canaan CanMV-K230";
	compatible = "canaan,canmv-k230", "canaan,kendryte-k230","k230_canmv_lckfb";

	aliases {
		serial3 = &uart3;
		mmc0 = &mmc_sd0;
		mmc1 = &mmc_sd1;
		i2c0 = &i2c4;
		i2c1 = &i2c3;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	ddr: memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x20000000>;
	};

	sound {
		status                      = "okay";
		compatible                  = "canaan,k230-audio-inno";
		canaan,model                = "K230_I2S_INNO";
		canaan,k230-i2s-controller  = <&i2s>;
		canaan,k230-audio-codec     = <&inno_codec>;
	};
};

&uart0 {
	status = "okay";
};
&uart3 {
	status = "okay";
};
&mmc_sd1{
	status = "okay";
	no-1-8-v;
	cap-sd-highspeed;
	mshc_ctrl_r = <0x00>;
};

&usb0 {
	status = "okay";
};
&usb1 {
	status = "okay";
};

&i2c3 {
	status = "okay";
	touchscreen@38 {
		compatible = "edt,edt-ft5306";
		reg = <0x38>;
		reset-gpios = <&gpio0_ports 24 GPIO_ACTIVE_LOW>;
		interrupt-parent = <&gpio0_ports>;
		interrupts = <23 IRQ_TYPE_EDGE_FALLING>;
		touchscreen-size-x = <480>;
		touchscreen-size-y = <800>;
	};
};

&i2c4 {
	status = "okay";
};
&mipi0
{
	// set to csi2
	id = <2>;
	reg = <0x0 0x9000a800 0x0 0x800>;
	interrupts = <121 IRQ_TYPE_LEVEL_HIGH>;
	resets = <&sysctl_reset K230_RESET_CSI2_REG_OFFSET K230_RESET_CSI2_TYPE
			  K230_RESET_CSI2_DONE_BIT K230_RESET_CSI2_ASSERT_BIT>,
	<&sysctl_reset K230_RESET_M2_REG_OFFSET K230_RESET_M2_TYPE
		 K230_RESET_M2_DONE_BIT K230_RESET_M2_ASSERT_BIT>;
	reset-gpios = <&gpio0_ports 13 GPIO_ACTIVE_HIGH>;
};


&lcd {
	dsi_reset-gpios = <&gpio0_ports 22 GPIO_ACTIVE_HIGH>;
	backlight_gpio-gpios = <&gpio0_ports 25 GPIO_ACTIVE_HIGH>;
	panel-init-sequence = [
			05 00 01 01
			05 10 01 11
			39 00 06 FF 77 01 00 00 11
			15 00 02 D1 11
			15 00 02 55 B0
			39 00 06 FF 77 01 00 00 10
			39 00 03 C0 63 00
			39 00 03 C1 04 02
			39 00 03 C2 37 08
			15 00 02 C7 00
			15 00 02 CC 38
			39 00 11 B0 00 11 19 0C 10 06 07 0A 09 22 04 10 0E 28 30 1C
			39 00 11 B1 00 12 19 0D 10 04 06 07 08 23 04 12 11 28 30 1C
			39 00 06 FF 77 01 00 00 11
			15 00 02 B0 4D
			15 00 02 B1 60
			15 00 02 B2 07
			15 00 02 B3 80
			15 00 02 B5 47
			15 00 02 B7 8A
			15 00 02 B8 21
			15 00 02 C1 78
			15 00 02 C2 78
			15 00 02 D0 88
			39 10 04 E0 00 00 02
			39 00 0C E1 01 A0 03 A0 02 A0 04 A0 00 44 44
			39 00 0C E2 00 00 00 00 00 00 00 00 00 00 00
			39 00 05 E3 00 00 33 33
			39 00 03 E4 44 44
			39 00 11 E5 01 26 A0 A0 03 28 A0 A0 05 2A A0 A0 07 2C A0 A0
			39 00 05 E6 00 00 33 33
			39 00 03 E7 44 44
			39 00 11 E8 02 26 A0 A0 04 28 A0 A0 06 2A A0 A0 08 2C A0 A0
			39 00 08 EB 00 01 E4 E4 44 00 40
			39 00 11 ED FF F7 65 4F 0B A1 CF FF FF FC 1A B0 F4 56 7F FF
			15 00 02 EE 42
			39 00 06 FF 77 01 00 00 00
			15 00 02 36 00
			15 00 02 3A 55
			05 10 01 11
			05 00 01 29
		];
		display-timings {
			timing-0 {
				clock-frequency = <24750000>;
				hactive = <480>;
				vactive = <800>;
				hfront-porch = <32>;
				hback-porch = <32>;
				hsync-len = <8>;
				vfront-porch = <140>;
				vback-porch = <150>;
				vsync-len = <10>;
			};
		};

};
&mmc_sd0 {
	status = "okay";
	no-1-8-v;
	rx_delay_line = <0x0d>;
	tx_delay_line = <0xc0>;
};
