// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2024 Yangyu Chen <cyy@cyyself.name>
 */

#include "k230.dtsi"
#include <dt-bindings/leds/common.h>

/ {
	model = "CyberCAM";
	compatible = "canaan,canmv-k230", "canaan,kendryte-k230";

	aliases {
		serial3 = &uart3;
		// i2c0 = &i2c4;
		// i2c1 = &i2c3;
		mmc0 = &mmc_sd0;
		mmc1 = &mmc_sd1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	ddr: memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x40000000>;
	};

	sound {
		status                      = "okay";
		compatible                  = "canaan,k230-audio-inno";
		canaan,model                = "K230_I2S_INNO";
		canaan,k230-i2s-controller  = <&i2s>;
		canaan,k230-audio-codec     = <&inno_codec>;
	};
};

&uart0 {
	status = "okay";
};
&uart1 {
	status = "okay";
};
&uart3 {
	status = "okay";
};
&mmc_sd0{
	status = "okay";
	no-1-8-v;
	cap-sd-highspeed;
	rx_delay_line = <0x0d>;
	tx_delay_line = <0xb0>;
	clocks = <&sd0_cclk_gate>,<&sd0_cclk_gate>;
	clock-names = "core", "bus";
};
&mmc_sd1{
	status = "okay";
	no-1-8-v;
	cap-sd-highspeed;
	mshc_ctrl_r = <0x00>;
};
&usb0 {
	dr_mode = "peripheral";
	status = "okay";
};
&usb1 {
	dr_mode = "host";
	status = "okay";
};
&i2c1
{
	status = "okay";
};
&i2c2
{
	status = "okay";
};
&i2c3 {
	status = "okay";
};
&i2c4
{
	status = "okay";
};


&vo {
	vth_line = <10>;
};
// &mipi0
// {
// 	// set to csi2
// 	id = <2>;
// 	reg = <0x0 0x9000a800 0x0 0x800>;
// 	interrupts = <121 IRQ_TYPE_LEVEL_HIGH>;
// 	resets = <&sysctl_reset K230_RESET_CSI2_REG_OFFSET K230_RESET_CSI2_TYPE
// 			  K230_RESET_CSI2_DONE_BIT K230_RESET_CSI2_ASSERT_BIT>,
// 	<&sysctl_reset K230_RESET_M2_REG_OFFSET K230_RESET_M2_TYPE
// 		 K230_RESET_M2_DONE_BIT K230_RESET_M2_ASSERT_BIT>;
// };

/{
	leds: leds@0 {
		compatible = "gpio-leds";
		status = "okay";
		power-led {
			function = LED_FUNCTION_STATUS;
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&gpio1_ports 20 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};
};


&spi1 {
	status = "okay";
	num-cs = <2>;
	spi-max-frequency = <10000000>;
};
&iomux {
	pwm2_pins: pwm2_pins {
        pins = K230_IO46, K230_IO47;
        function = K230_IO46_PWM2, K230_IO47_PWM3;
    };

};
&pwm0_2{
	status = "okay";
	pinctrl-names = "default";
    pinctrl-0 = <&pwm2_pins >;
};
